body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
  }

  .wrapper {
    flex: 1;
}

  /* Estilos para el navbar */
.navbar {
    background-color: white;
    padding: 15px 0; 
    text-align: center;
}

.navbar a.active {
  border-bottom: 3px solid #FF914D; /* Línea naranja debajo del enlace activo */
  color: #64B43E; /* Cambia el color del texto para resaltarlo */
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 30px; 
    font-weight: bold;
    font-size: 20px;
}

/* Estilos para el logo */
.logo img {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto;
}

/* Estilos para los enlaces del navbar */
.navbar a {
    text-decoration: none;
    color: #64B43E;
}

/* Estilos para los enlaces al pasar el mouse */
.navbar a:hover {
    color: gray;
}
  
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

.modal-title {
  color: #28a745; /* Verde */
}

.modal-text {
  margin-bottom: 20px;
}

.orange-button {
  background-color: #f58025; /* Naranja */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#steps textarea {
  width: 400px;
}

main {
  flex: 1;
  background-color: #FFF9E6;
  padding: 60px;
}

form {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
}

#recipeForm {
  max-width: 1350px; /* Establece el ancho máximo que desees */
  margin: 0 auto; /* Centra el formulario en el contenedor principal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-text{
  font-size: 13px;
  text-align: left;
  color: #8d8686;
  margin-bottom: 20px;
}

.column {
    width: 33.33%;
    background-color: white;
    padding: 20px;
    flex: 1;
    padding: 10px;
  }
  
.column h3 {
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
.upload-container {
    margin-bottom: 20px;
  }
  
input,
  textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
textarea {
    height: 150px;
    resize: vertical;
  }

.input-with-text {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-text {
    margin-right: 10px; /* Ajusta el espacio entre el texto y el selector según sea necesario */
}
  
.postfix-container {
    display: flex;
    align-items: flex-end;
  }
  
.postfix {
    margin-left: 5px;
  }

.custom-selector {
    padding: 10px;
    background-color: #FFF;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 410px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
}

.input-row {
    display: flex;
    align-items: center;
}

.input-container input {
    width: calc(100% - 30px); /* Reducido el espacio para acomodar el botón de quitar */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.input-row .delete-button {
    background-color: #fff;
    color: #FF914D;
    border: 1px solid #FF914D;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

.add-button:hover,
.delete-button:hover {
    background-color: #FF6340;
}

.input-row input {
  width: 380px; /* Resta 40px para dar espacio al botón de eliminar */
  margin-right: 10px; /* Añade un margen derecho para separar los inputs */
}
  
  .add-button,
  .delete-button {
    background-color: #FFF;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    margin-left: 200px;
  }
  
  .add-button:hover,
  .delete-button:hover {
    background-color: #FF6340;
  }
  
  .required-text {
    font-size: 14px;
    color: #FF914D;
    margin-top: 10px;
  }
  
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  .orange-button {
    background-color: #FF914D;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .orange-button:hover {
    background-color: #FF6340;
  }

  .small-text{
    font-size: 12px;
    color: #8d8686;
    margin-top: 10px;
}
  
  .input-with-addon {
    position: relative;
    margin-bottom: 15px;
}

.input-with-addon input {
    width: calc(100% - 60px);
    padding: 10px;
}

.input-with-addon .addon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ddd;
    padding: 12px;
    border-radius: 0 5px 5px 0;
    margin-right: 20px;
}

/* Estilos para los botones de añadir */
.add-button {
    background-color: #fff;
    color: #FF914D;
    border: 1px solid #FF914D;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
}

/* Estilos para el footer */
.footer {
    background-color: #ffffff; /* Color de fondo gris para el footer */
    text-align: center;
    padding: 30px 0; /* Ajusta el relleno vertical del footer */
}

/* Estilos para el texto debajo del logo en el footer */
.footer-text {
    font-size: 20px; /* Tamaño del texto */
    color: black; /* Color del texto gris oscuro */
    font-weight: bold;
}