body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

/* Estilos para el navbar */
.navbar {
    background-color: white;
    padding: 15px 0; 
    text-align: center;
}

.navbar a.active {
    border-bottom: 3px solid #FF914D; /* Línea naranja debajo del enlace activo */
    color: #64B43E; /* Cambia el color del texto para resaltarlo */
  }

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 30px; 
    font-weight: bold;
    font-size: 20px;
}

/* Estilos para el logo */
.logo img {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto;
}

/* Estilos para los enlaces del navbar */
.navbar a {
    text-decoration: none;
    color: #64B43E;
}

/* Estilos para los enlaces al pasar el mouse */
.navbar a:hover {
    color: gray;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #555;
  }
  
  .modal-title {
    color: #28a745; /* Verde */
  }
  
  .modal-text {
    margin-bottom: 20px;
  }
  
  .orange-button {
    background-color: #f58025; /* Naranja */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

main {
    background-color: #F6F8E8; /* Amarillo claro */
    text-align: center;
    padding: 50px 20px;
}

h1 {
    color: black; /* Naranja */
    margin-top: 0px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: black; /* Naranja */
    position: relative;
    font-size: 18px;
    margin-bottom: 20px;
}

p {
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
    text-align: justify;
}

.form-text{
    font-size: 12px;
    text-align: left;
    color: #8d8686;
    margin-bottom: 20px;
}

input,
button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.small-text{
    font-size: 12px;
    color: #8d8686;
    margin-top: 0px;
    text-align: center;
}

button {
    background-color: #FF914D; /* Naranja */
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 20px;
}

.password-container {
    position: relative;
    margin-bottom: -15px;
    display: flex;
    flex-direction: row;
}

#passwordInput {
    width: calc(100% - 30px); /* Ajusta el ancho según sea necesario, considerando el ancho del botón */
    height: 40px;
    width: 340px;
}

#togglePasswordBtn {
    width: 30px; /* Ajusta el ancho del botón */
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: #333;
}

#passwordStrength {
    display: block;
    font-size: 12px;
    color: #ff5555;
    margin-bottom: 5px;
}

#passwordStrength.valid {
    color: #55ff55;
}

/* Estilos para el footer */
.footer {
    background-color: #ffffff; /* Color de fondo gris para el footer */
    text-align: center;
    padding: 30px 0; /* Ajusta el relleno vertical del footer */
}

/* Estilos para el texto debajo del logo en el footer */
.footer-text {
    font-size: 20px; /* Tamaño del texto */
    color: black; /* Color del texto gris oscuro */
    font-weight: bold;
}