body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

/* Estilos para el navbar */
.navbar {
    background-color: white;
    padding: 15px 0; 
    text-align: center;
}

.navbar a.active {
    border-bottom: 3px solid #FF914D; /* Línea naranja debajo del enlace activo */
    color: #64B43E; /* Cambia el color del texto para resaltarlo */
  }

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 30px; 
    font-weight: bold;
    font-size: 20px;
}

/* Estilos para el logo */
.logo img {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto;
}

/* Estilos para los enlaces del navbar */
.navbar a {
    text-decoration: none;
    color: #64B43E;
}

/* Estilos para los enlaces al pasar el mouse */
.navbar a:hover {
    color: gray;
}

.back-button {
    margin-bottom: 20px;
}

.back-button a {
    display: inline-block;
}

.back-button img {
    width: 30px; /* Ajusta el ancho según sea necesario */
    height: 30px; /* Ajusta la altura según sea necesario */
    margin-right: 10px; /* Añade espacio entre la imagen y el texto */
}

main {
    background-color: #F6F8E8; /* Puedes ajustar el color de fondo según tus preferencias */
}

/* Estilos para el main de la receta */
.recipe-main {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    position: relative;
}

.left-column {
    flex: 3.5;
    margin-right: 20px;
    padding: 50px;
}

.breadcrumbs {
    margin-bottom: 20px;
}

.recipe-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.creator-info {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos dentro de creator-info */
}

.profile-picture {
    width: 50px; /* Ajusta el tamaño de la imagen del perfil según sea necesario */
    height: 50px;
    border-radius: 50%; /* Para hacer la imagen redonda */
    margin-right: 10px; /* Espacio entre la imagen del perfil y el nombre */
    margin-left: 20px;
}

.right-column {
    flex: 6.5;
    padding: 50px;
}

.ingredients, .instructions {
    margin-bottom: 20px;
}

.instructions ol {
    list-style-type: none;
    counter-reset: step-counter;
}

.instructions li {
    counter-increment: step-counter;
    margin-bottom: 15px;
}

.instructions p{
    text-align: justify;
}

.instructions li::before {
    content: "Paso " counter(step-counter) ": ";
    font-weight: bold;
    margin-right: 5px;
}

/* Estilos para el footer */
.footer {
    background-color: #ffffff; /* Color de fondo gris para el footer */
    text-align: center;
    padding: 30px 0; /* Ajusta el relleno vertical del footer */
}

/* Estilos para el texto debajo del logo en el footer */
.footer-text {
    font-size: 20px; /* Tamaño del texto */
    color: black; /* Color del texto gris oscuro */
    font-weight: bold;
}
